@import 'base';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 15vh;
  align-items: center;
}

.fa-film {
  margin: 10px 0 5px 0;
}

.main-nav {
  margin-left: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

a, .login {
  margin-left: 16px;
  list-style: none;
  padding-left: 5px;
}

.login {
  border-radius: 15px;
  width: 75px;
  height: 25px;
  background-color: #E3545f;
  color: white;
  border: none;
}

.carousel-container__separator {
  background-image: radial-gradient(circle, rgba(210, 208, 208, 0.190914) 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  height: 2px;
}

.backArrow {
  border-radius: 50%;
  border: solid .5px;
  width: 40px;
  display: flex;
}

.fa-arrow-right:before ,
.fa-arrow-left:before  {
  align-items: center;
}

.swiper-container {
      width: 100%;
      height: 210px;
      overflow: hidden;

      .swiper-wrapper {
        display: flex;
        padding: 0 1rem;
      }

      .swiper-slide {
        opacity: .8;
        text-align: center;
        transition: transform .2s;

        // swiper-slide__image
        &__image {
          border-radius: 10px;
          width: 100px !important;
          height: 150px !important;
        }

        // swiper-slide__title
        &__title {
          color: rgba(255, 255, 255, 0.7);
          font-size: .8rem;
        }

        a,
        a:active,
        a:hover,
        a:visited {
          color: inherit;
          text-decoration: none;
        }

        // swiper-slide:hover
        &:hover {
          opacity: 1;
          transform: scale(1.02);
          transition: transform .2s;
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        margin-top: -3rem;
      }
    }
