@import 'base';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 15vh;
  align-items: center;
}

.fa-film {
  margin: 10px 0 5px 0;
}

.main-nav {
  margin-left: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

a, .login {
  margin-left: 16px;
  list-style: none;
  padding-left: 5px;
}

.login {
  border-radius: 15px;
  width: 75px;
  height: 25px;
  background-color: #E3545f;
  color: white;
  border: none;
}

.carousel-container__separator {
  background-image: radial-gradient(circle, rgba(210, 208, 208, 0.190914) 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  height: 2px;
}
